.about__counter-text[counter="about"] {
  margin-right:0.75rem
}

.about__image.aos-init {
  transition-duration: 1s !important;
}

@media (min-width: 991px) {
  .about__play-btn {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1);
    }
  }
}
