
.nav__item:last-child {
  margin-bottom: 0;
}

.footer__link:last-child {
  margin-right: 0;
}

@media (min-width: 992px) {
  .main {
    box-sizing: content-box;
  }
}

@media (min-width: 2056px) {
  .main {
    background-position: 50% 75%;
    min-height: 80rem;
  }
}

@media (max-width: 1700px) {
  .wrapper {
    width: 100%;
  }
}

@media (max-width:1600px) and (min-width: 991px) {
  .desc {
    min-height: 55rem;
  }

  .desc__glass {
    width: 30rem;
  }

  .desc__two-item {
    & .desc__line svg {
      width: inherit;
    }

    &:first-child .desc__line {
      width: 12.375rem;
    }

    &:nth-child(2) .desc__line {
      width: 11.0625rem;
    }

    &:nth-child(3) .desc__line {
      width: 9.625rem;
    }
  }

  .desc__two {
    padding-left: 9rem;
  }
}

@media (max-width: 1500px) and (min-width: 991px) {
  .menu__container {
    width: 50rem;
    height: 50rem;
  }
  .desc__one-list {
    margin-right: auto;
  }
}

@media (max-width: 1440px) and (min-width: 991px) {
  .main {
    min-height: 60rem;
  }
  //HEADER
  .header__menu {
    width: 45rem;
    height: 45rem;
  }

  .nav__top {
    margin-bottom: 4.75rem;
  }


  .slider__controls {
    margin-top: 1rem;
  }

  // DESC
  .desc__glass {
    width: 27rem;
  }

  .desc__two-item {
    margin-bottom: 2rem;
  }

  .desc__svg-wrap {
    margin-right: 1.5rem;
  }

  // MENU
  .menu__container {
    width: 45rem;
    height: 45rem;
  }
  .menu__desc-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .menu__description {
    max-width: 21rem;
    font-size: 1.25rem;
  }
  .menu__desc-btn {
    margin-top: 4.75rem;
  }
  .desc__pims {
    width: 10rem;
    height: 10rem;
    margin-bottom: 4.25rem;
  }
}

@media (max-width: 1200px) and (min-width: 991px) {
  .main {
    min-height: 55rem;
  }
  .main__title {
    font-size: 4.25rem;
  }


  //DESC
  .desc__title {
    font-size: 4.25rem;
  }
  .desc {
    min-height: auto;
    padding-top: 4rem;
  }
  .desc__one-list {
    display: none;
  }
  .desc__pims {
    width: 8rem;
    height: 8rem;
    margin-bottom: 3.25rem;
  }


  // MENU
  .menu__container {
    width: 40rem;
    height: 40rem;
  }
  .menu__description {
    font-size: 1rem;
  }
  .menu__item {
    width: 20rem;
    padding-left: 6.75rem;
  }
  .menu__pin {
    left: 1.75rem;
  }
  .menu__desc-title {
    font-size: 1.75rem;
  }
  .menu__desc-btn {
    margin-top: 3.75rem;
  }

  // INSTA
  .insta {
    padding: 4rem 0 4rem 0;
  }
  .insta__call {
    margin-top: 3rem;
  }
  .insta__link {
    margin-bottom: 3.75rem;
  }

  //CLOTHES
  .clothes {
    min-height: 35rem;
    background-size: 440px;
  }
}

@media (max-width: 1100px) and (min-width: 991px) {
  .menu__container {
    width: 34rem;
    height: 34rem;
  }
}

@media (max-width: 991px) and (min-width:768px) {
  .desc__two-item:nth-child(even) {
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  .menu__item[state="enable"] {
    background-color: transparent;
  }

  .desc__two-item:nth-child(even) {
    margin-top: 3rem;
  }

  .header__menu-btn--center {
    &::before, &::after {
      width: 1rem;
      height: 0.09375rem;
    }
    &::before {
      top: 0;
      transform: translateY(4.3px);
    }
    &::after {
      top: 0;
      transform: translateY(-4.3px);
    }
  }

  .menu__btns {
    pointer-events: none;
  }

  .menu__btn {
    pointer-events: all;
  }
}

@media (max-width: 479px) {
  .menu__container {
    height: calc(100vw - 4rem);
  }
}