.around {
  &:hover {
    .around__image {
      animation: hiddenImage 0.5s ease;
      animation-fill-mode: forwards;
    }
  }
}

.around__image {
  animation: viewImage 0.5s ease;
  animation-fill-mode: forwards;
  transition: opacity 0.5s ease, z-index 0.5s ease;
}

#panorama {
  width: 100%;
  height: 100%;
  position: absolute;
}

@keyframes hiddenImage {
  from {
    opacity: 1;
    z-index: 2;
  }
  50% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes viewImage {
  from {
    opacity: 0;
    z-index: -1;
  }
  30% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 1;
    z-index: 2;
  }
}
