.menu__image {
  user-select: none;
  pointer-events: none;
}

.desc__item {
  pointer-events: none;
}

.desc__image {
  pointer-events: none !important;
  user-select: none;
}

@keyframes animationPin {
  0% {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
  50% {
    background-color: hsla(0, 0%, 100%, 0.65);
  }
  100% {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}

.desc__round {
  animation: animationPin 2s ease-in-out infinite; 
}

.desc__round[data-round="first"] {
  animation-delay: 0.5s;
}
.desc__round[data-round="second"] {
  animation-delay: 1.5s;
}
.desc__round[data-round="third"] {
  animation-delay: 1s;
}


@media (min-width: 992px) {
  // btn - header
  .header__menu-btn {
    &:hover {
      & .header__menu-btn--center {
        background-color: #F4A300; // opacity: 0.6
      }
    }
  }

  .nav__social-link {
    & svg {
      & path, circle {
        transition: fill 0.3s ease;
      }
    } 

    &:hover svg {
      & path, circle {
        fill: #F4A300;
      }
    }
  }

  .nav__link, .footer__link {
    transition: color 0.3s ease;
    &:hover {
      color: #F4A300;
    }
  }

  .header__btn, .menu__desc-btn {
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #F4A300;
    }
  }

  .menu__btn {
    transition: opacity 0.3s ease;
    &:hover:not(.slider__btn--disabled) {
      opacity: 0.8;
    }
  }

  .insta__svg svg path {
    transition: fill 0.3s ease;
  }
  .insta__text {
    transition: color 0.3s ease;
  }

  .insta__link:hover {
    .insta__svg svg path {
      fill: #F4A300;
    }
    .insta__text {
      color: #F4A300;
    }
  }

  .around__address-link {
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.6;
    }
  }

  .footer__choice {
    transition: color 0.3s ease;
    &:hover {
      color: white;
    }
  }

  

  .desc__two-item {
    & svg path {
      transition: fill 0.3s ease;
    }

    & .desc__svg-wrap {
      transition: background-color 0.2s ease, transform 0.3s ease;
    }

    &:hover {
      & .desc__svg-wrap {
        transform: scale(1.1);
        background-color: white;
      }

      & svg path {
        fill: #F4A300;
      }
    }
  }

  // HOVER ON IMAGE
  .menu__image:hover {
    transform: scale(1.1);
  }
}