.header__menu[header-menu="close"] {
  transform-origin: right top;
  transform: scale(0);
  clip-path: circle(0% at 47rem 0rem);
}

.header__menu[header-menu="open"] {
  transform-origin: right top;
  clip-path: circle(100% at 47rem 0rem);
}

.header__menu-btn {
  transition: background-color 0.3s ease;
}

.header__menu-btn--center {
  transition: all 0.5s ease;
}

.header__menu-btn[state="open"] {
  & .header__menu-btn--center:first-child {
    background-color: #10202F;
    transform: rotate(45deg);
  }

  & .header__menu-btn--center:last-child {
    background-color: #10202F;
    transform: translateY(-14px) rotate(-45deg);
  }
}

// ADAPTIVE
@media (max-width: 991px) and (min-width: 768px) {
  .header__menu[header-menu="close"] {
    clip-path: circle(0% at 40rem 0rem);
  }
  .header__menu[header-menu="open"] {
    clip-path: circle(100% at 40rem 0rem);
  }
}

@media (max-width: 767px) {
  .header__menu[header-menu="close"] {
    clip-path: circle(0% at 25rem 0rem);
  }
  .header__menu[header-menu="open"] {
    clip-path: circle(100% at 25rem 0rem);
  }
}
